.boxTop {
  box-sizing: border-box;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: #502b84;
  color: white;
  margin-bottom: 1rem;
  align-items: center;
  align-items: center;
}
.middle {
  display: flex;
  padding: 0 3rem;
  gap: 1rem;
  align-items: center;
}
.boxTop h3 {
  font-size: 30px;
}
.ul {
  list-style: none;
  background-color: #502b84;
  width: 95%;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 0;
}
.pagination {
  display: grid;
  width: 100%;
  flex-wrap: nowrap;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  padding: 1rem 0;
}
.pagination * {
  color: white;
}
.li {
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 0.4fr 2fr 2fr 2fr 2fr;
  align-items: center;
  text-align: center;
}
.li p {
  text-decoration: none;
}

.avatarka {
  border-radius: 100%;
  object-fit: cover;
}
.li:nth-child(2n) {
  background-color: #f2f2f2c3;
  color: white;
}
.tableNav {
  display: grid;
  grid-template-columns: 0.4fr 2fr 2fr 2fr 2fr;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem;
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 30px;
  background-color: rgba(197, 197, 197, 0.597);
  position: relative;
}
.status span {
  display: inline-block;
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 1;
}
.status p {
  font-size: 14px;
  font-weight: 600;
}
.customSelect {
  font-size: 1.1rem;
  display: block;
  width: 50%;
  padding: 0.5em;
  border-radius: 5px;
  background: #fff;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(-45deg, transparent 50%, gray 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  appearance: none;
  outline: none;
}

.customSelect:focus {
  border: 2px solid #efea46;
}

.customSelect option {
  font-weight: normal;
}
.customInput {
  font-size: 1.1rem;
  display: block;
  width: 50%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  outline: none;
}
.customInput::after {
  content: '&#128269;';
  position: absolute;
  right: 1em;
  z-index: 11;
}
.tableHeads {
  color: white;
  font-weight: bold;
  font-size: 24px;
}
.customInput:focus {
  border: 2px solid #efea46;
}
.userDatas {
  font-weight: 600;
}
@media (max-width: 480px) {
  .boxTop {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.3rem;
  }
  .boxTop h3 {
    font-size: 1.5rem;
    text-align: center;
    order: 2;
  }
  .topImage {
    order: -1;
    text-align: center;
  }
  .middle {
    width: 100%;
    padding: 0;
    align-items: center;
    gap: 0.5rem;
    order: 2;
  }

  .li {
    grid-template-columns: 0.4fr 2fr 2fr 2fr;
    gap: 0.2rem;
    padding: 0.5rem;
  }
  .steps {
    display: none;
  }
  .tableNav {
    grid-template-columns: 1fr 2fr 2fr 2fr;
    padding: 0.5rem;
  }
  .tableNav p {
    font-size: 0.8rem;
  }
  .status {
    width: 70px;
  }
  .customInput,
  .customSelect {
    font-size: 1rem;
  }
  .userDatas {
    font-weight: 600;
  }
}
.loaderBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.loader {
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
